.menu-button {
    width: 25vw;
    text-align: center;
    height: 7.5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9ad00;
    border-radius: 8px;
    font-size: 2vw;
    margin-bottom: 1vh;
}

/* Small screen */
@media only screen and (max-width: 800px) {
    .menu-button {
        width: 250px;
        height: 64px;
        font-size: 24px;
    }
}