.message {
    width: 100%;
    margin: 4px 0;
    background-color: #4dc9d1;
    border-radius: 8px;
    font-size: 3vw;
    color: #073a94;
    padding: 2vh 1vw;
    display: flex;
    justify-content: space-between;
}

.message > img {
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
}