.modal {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.5);
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-header {
    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: flex-end;
}

.modal .modal-header > img {
    width: 3vw;
    cursor: pointer;
}

.modal .modal-dialog {
    min-width: 500px;
    width: 70vw;
    min-height: 300px;
    height: 70vh;
    margin: 0 auto;
    padding: 4vh 4vw;
    overflow-y: auto;
    border: 2px solid gray;
    border-radius: 8px;
    background: rgb(228, 228, 228);
}