.submissions-display {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    text-align: center;
}

.submissions-display > span {
    display: block;
    padding: 10% 2%;
}

.submissions-display > .submission-caption {
    font-size: 4vw;
}

.submissions-display .submission {
    height: 75%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
}
